.container {
  width: 100vw;
  height: 100vh;
  background-color: #e6f1ff;
  display: flex;
  flex-direction: column;
}
/* .header {
  background-color: #55aaff;
  height: 25%;
  display: flex;
  flex-direction: column;
}
.body {
  flex: 1;
} */

.header {
  height: 8%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #55aaff;
}

.header h3 {
  flex: 1;
  text-align: center;
  justify-content: end;
}

.tabs {
  flex: 1;
  overflow-y: scroll;
  /* background-color: red; */
}

.setting {
  cursor: pointer;
}

.setting:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}

.layout {
  border-radius: 8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #e6f1ff !important;
}

.sider {
  background-color: #e6f1ff !important;
}

.menu {
  height: 100%;
  background-color: #e6f1ff !important;
}

/* .ant-menu-item {
  background-color: blue !important; 
} */

.ant-menu-item-selected {
  background-color: red !important;
  color: white !important; /* 选中的文字颜色 */
}

content {
  width: 100%;
  height: 100%;
}
