.container {
  width: 330px;
  height: 250px;
  background-color: #fff;
  border-radius: 3%;
  /* margin-top: 10px; */
  display: flex;
  box-sizing: border-box;
}

.left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 100%;
  height: 100%;
  border-radius: 5% 0 0 5%;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.right .name {
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: baseline;
}

.right .name h3 {
  font-weight: 900;
}

.right .name .version {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-left: 3px;
}

.right .desc {
  font-size: 14px;
  color: #666;
  /* margin: 10px 0; */
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right .extension {
  height: 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.extensionTitle {
  font-size: 14px;
  font-weight: 600;
}

.extensionBody {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.extensionBody::-webkit-scrollbar {
  width: 0 !important;
}

.extensionBody {
  -ms-overflow-style: none;
}

.extension {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.right .button {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: end;
}
