.ant-tabs-left {
  height: 100% !important;
  /* background-color: red !important; */
}

.ant-tabs-nav {
  box-shadow: #087ea4 !important;
}

.ant-tabs-tab-active {
  background-color: #2d8cff !important;
}
